# Common Dataframe operations
Selecting, or subset selections of data like columns and rows are very common when working with datasets that might have data that is not interesting or needs to be dropped.

In [1]:
# Load your dataframe
import pandas as pd
csv_url = "https://raw.githubusercontent.com/paiml/wine-ratings/main/wine-ratings.csv"
df = pd.read_csv(csv_url, index_col=0)
df.head()

,name,grape,region,variety,rating,notes
0,1000 Stories Bourbon Barrel Aged Batch Blue Ca...,NaN,"Mendocino, California",Red Wine,91.0,"This is a very special, limited release of 100..."
1,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,89.0,The California Gold Rush was a period of coura...
2,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,90.0,The California Gold Rush was a period of coura...
3,1000 Stories Bourbon Barrel Aged Zinfandel 2013,NaN,"North Coast, California",Red Wine,91.0,"The wine has a deep, rich purple color. An int..."
4,1000 Stories Bourbon Barrel Aged Zinfandel 2014,NaN,California,Red Wine,90.0,Batch #004 is the first release of the 2014 vi...

## DataFrame columns

In [2]:
wine_notes = df["notes"]
wine_notes.head()

0    This is a very special, limited release of 100...
1    The California Gold Rush was a period of coura...
2    The California Gold Rush was a period of coura...
3    The wine has a deep, rich purple color. An int...
4    Batch #004 is the first release of the 2014 vi...
Name: notes, dtype: object

In [3]:
named_ratings = df[["name", "rating"]]
named_ratings.head()

                                                name  rating
0  1000 Stories Bourbon Barrel Aged Batch Blue Ca...    91.0
1  1000 Stories Bourbon Barrel Aged Gold Rush Red...    89.0
2  1000 Stories Bourbon Barrel Aged Gold Rush Red...    90.0
3    1000 Stories Bourbon Barrel Aged Zinfandel 2013    91.0
4    1000 Stories Bourbon Barrel Aged Zinfandel 2014    90.0


## Specific DataFrame rows

In [4]:
# filter rows based on a condition
top_named_ratings = named_ratings[df["rating"] > 96]
top_named_ratings.head()

                                                 name  rating
218                     Abreu Vineyards Cappella 2010    98.0
220              Abreu Vineyards Howell Mountain 2009    98.0
221  Abreu Vineyards Las Posadas Howell Mountain 2012    99.0
223                Abreu Vineyards Madrona Ranch 1996    98.0
227                Abreu Vineyards Madrona Ranch 2005    98.0

In [5]:
# the condition can be used on its own
df['rating'] > 96

0        False
1        False
2        False
3        False
4        False
         ...
32775    False
32776    False
32777    False
32778    False
32779    False
Name: rating, Length: 32780, dtype: bool

## Using queries

In [6]:
df.query("rating > 93").head(10)

,name,grape,region,variety,rating,notes
8,12 Linajes Reserva 2012,NaN,"Ribera del Duero, Spain",Red Wine,94.0,"On the nose, a complex predominance of mineral..."
36,3 Rings Reserve Shiraz 2004,NaN,"Barossa Valley, Barossa, South Australia, Aust...",Red Wine,96.0,Vintage Comments : Classic Barossa vintage con...
109,Aalto 2004,NaN,"Ribera del Duero, Spain",Red Wine,94.0,"""The 2004 Aalto has a far different personalit..."
110,Aalto 2005,NaN,"Ribera del Duero, Spain",Red Wine,95.0,The grapes come exclusively from old vineyards...
111,Aalto 2007,NaN,"Ribera del Duero, Spain",Red Wine,95.0,It is ironic that one of the youngest properti...
113,Aalto 2008,NaN,"Ribera del Duero, Spain",Red Wine,95.0,This wine's elegance and fruitful presence per...
115,Aalto 2010,NaN,"Ribera del Duero, Spain",Red Wine,94.0,This wine's elegance and fruitful presence per...
117,Aalto 2012,NaN,"Ribera del Duero, Spain",Red Wine,94.0,#6
121,Aalto 2016,NaN,"Ribera del Duero, Spain",Red Wine,95.0,"Deep purple red color, as corresponds to old T..."
122,Aalto PS 2011,NaN,"Ribera del Duero, Spain",Red Wine,94.0,"AALTO PS, being made from a selection of our b..."

In [7]:
# add more combined queries
df.query("rating > 94 & region == 'Ribera del Duero, Spain'").head(10)

,name,grape,region,variety,rating,notes
110,Aalto 2005,NaN,"Ribera del Duero, Spain",Red Wine,95.0,The grapes come exclusively from old vineyards...
111,Aalto 2007,NaN,"Ribera del Duero, Spain",Red Wine,95.0,It is ironic that one of the youngest properti...
113,Aalto 2008,NaN,"Ribera del Duero, Spain",Red Wine,95.0,This wine's elegance and fruitful presence per...
121,Aalto 2016,NaN,"Ribera del Duero, Spain",Red Wine,95.0,"Deep purple red color, as corresponds to old T..."
123,Aalto PS 2013,NaN,"Ribera del Duero, Spain",Red Wine,95.0,Aalto PS (Pagos Seleccionada) is made only in ...
125,Aalto PS 2015,NaN,"Ribera del Duero, Spain",Red Wine,95.0,Aalto PS (Pagos Seleccionada) is made only in ...
365,Adega Pena das Donas Ribeira Sacra Verdes Mata...,NaN,"Ribera del Duero, Spain",Red Wine,95.0,100% Mencia
2058,Antonino Izquierdo 2006,NaN,"Ribera del Duero, Spain",Red Wine,95.0,Izquierdo displays an intense and clear red co...
5781,Bodegas Uvaguilera Aguilera Palomero 2001,NaN,"Ribera del Duero, Spain",Red Wine,96.0,The nose presents a perfect balance between th...
5804,Bodegas Valderiz Ribera del Duero 2016,NaN,"Ribera del Duero, Spain",Red Wine,96.0,The grapes are sourced from vineyards planted ...

In [9]:
# chain queries to use the Python engine to operate on strings
top_wines = df.query("rating > 95")
# na=False is needed because we have some NaN region descriptions!
paso_robles = top_wines.query("region.str.contains('Robles', na=False)", engine='python')

In [10]:
paso_robles.head()

,name,grape,region,variety,rating,notes
3050,Austin Hope Cabernet Sauvignon 2016,NaN,"Paso Robles, Central Coast, California",Red Wine,96.0,"Deep ruby in color, the 2016 Austin Hope Caber..."
6272,Booker Vineyard Estate 24 2014,NaN,"Paso Robles, Central Coast, California",Red Wine,96.0,"Blend: 51% Tempranillo, 28% Syrah, 13% Petit V..."
6273,Booker Vineyard Estate Syrah Blend 2013,NaN,"Paso Robles, Central Coast, California",Red Wine,96.0,"Fashioned after the old Alchemist, this wine w..."
6277,Booker Vineyard Fracture Syrah 2011,NaN,"Paso Robles, Central Coast, California",Red Wine,97.0,Just over half of our property is planted with...
6284,Booker Vineyard Jada 2015,NaN,"Paso Robles, Central Coast, California",Red Wine,96.0,This Grenache heavy wine is very elegant and p...